[Unit]
Description=Zen Application
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/app
Restart=always
RestartSec=5
Environment="PORT=8888"

[Install]
WantedBy=multi-user.target
