[Unit]
Description=Zen In-place Deployments
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/zen
ExecStart=/opt/zen/zen
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
